.partOne {
    background-color: #42664b;
    color: #ffffff;
    padding-left: 200px;
    padding-right: 200px;

}

.onePhoto{
   
    width: auto;
    height: 250px;
}

.oneA {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 60px;
}

h1 {
    font-size: 50px;
    font-weight: 700px;
    padding: 0;
    margin: 0;
}

.oneB {
    display: flex;
    flex-direction: column;
    font-family: Impact, sans-serif;
    align-items: start;
    gap: 8px;
}

.oneC {
    color:#aeb8af;
    padding: 0;
    margin: 0;
}

button {
    color:#ffffff;
    background-color: #7c9480;
    border-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
}

.logo {
    font-size: 24px;
    font-family: Impact, sans-serif;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 16px;
    padding-bottom: 16px;

}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
    font-family: Impact, sans-serif;
}
.partTwo {
    color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 60px;
    align-items: start;
}

h2 {
    font-size: 30px;
    font-weight: 700px;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.twoA {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.twoPhoto {
    width: auto;
    height: 250px;
    border: #42664b;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
}

.item {
    padding: 0;
    margin: 0;
}

.caption {
    color:darkolivegreen;
    font-family: Impact, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.partThree {
    background-color: #7c9480;
    color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}

.partFour {
    padding-left: 200px;
    padding-right: 200px;
}

body {
    padding: 0;
    margin: 0;
}